<!DOCTYPE html>
<html lang="{{언어코드}}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{제목}}</title>
<meta name="description" content="{{설명}}">
<link rel="canonical" href="{{정식주소}}">
{{{언어연결}}}
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{사이트이름}}">
<meta property="og:title" content="{{짧은제목}}">
<meta property="og:description" content="{{설명}}">
<meta property="og:url" content="{{정식주소}}">
<meta property="og:image" content="{{대표사진}}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{짧은제목}}">
<meta name="twitter:description" content="{{설명}}">
<meta name="twitter:image" content="{{대표사진}}">
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500;700;900&family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css">
<link rel="stylesheet" href="{{차림표주소}}">
{{{집차림표}}}
<link rel="shortcut icon" href="{{뿌리}}favicon.ico">
<link rel="icon" href="{{뿌리}}favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{뿌리}}apple-touch-icon.png">
<script type="application/ld+json">{{{구조화자료}}}</script>
</head>
